.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .cards :hover {
    transform: scale(1.02);
}

.container-general {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.container-detail{
  background-color: aqua;
  height: 100vw;
  text-align: center;
}

.container-description{
  padding-top: 50px;
  margin-left: 350px;
  margin-right: auto;
}